<ion-view view-title="理赔预约">
	<ion-content>

		<ion-list>
			     

      <ion-item class="item-input">
        <span class="input-label">联系人:</span>
          <input type="text" placeholder="请输入联系人" ng-model="bespeak.linker" required="" name="linker" >
          <button-clear-input input="bespeak.linker"></button-clear-input>
        <!-- </div> -->
      </ion-item>

      <ion-item class="item-input">
        <span class="input-label">联系电话:</span>
          <input type="text" placeholder="请输入联系电话" ng-model="bespeak.tel" required="" name="tel" >
          <button-clear-input input="bespeak.tel"></button-clear-input>
        <!-- </div> -->
      </ion-item>

			<ion-item class="item-input  item-stacked-label">
        <span class="input-label">联系地址:</span>
          <input type="text" placeholder="请输入地址" ng-model="bespeak.address" required="" name="address" >
        <!-- </div> -->
      </ion-item>
      
      <button class="button button-full button-stable" ng-click="actions.toSubmit()">
        提交
      </button>


		</ion-list>
	</ion-content>
</ion-view>