<ion-view view-title="备齐资料">
	<ion-content>

		<div class="card">
			<div class="item item-text-wrap">
				<p>理赔是保险公司的生命线，消费者购买保险的最终目的就是在出险后能够得到补偿和赔付，理赔服务工作的好坏直接决定了客户对保险公司的认同度，好的理赔服务能够为公司的持续经营提供源源不断的生命力。
			</p>
			<p>

周先生于2015年12月17日投保中韩人寿中韩永佑终身重大疾病保险，保额20万元。2016年3月28日无意中发现其脖子处有硬块，到医院检查后发现是甲状腺癌，于4月9日在当地医院进行了手术治疗，中韩人寿及时安排客户服务人员进行了上门探视。4月18日客户出院后来到公司进行理赔申请，根据周先生的疾病治疗情况中韩人寿衢州中心支公司第一时间向总公司上报，并经总公司同意，启动“理赔绿色通道”。中韩人寿仅用了不足20小时就完成了客户的理赔报案申请、立案、审核审批的全部工作，20万元的重疾理赔金在客户理赔申请的第二天就汇入了客户的银行卡上。
</p>
			<p>

2016年4月19日下午，当衢州中心支公司将20万理赔款送到周先生手中时，周先生表示太意外了，连说了三遍没想到。他说，没想到中韩的理赔速度这么快、服务这么好！并一再称中韩人寿真的是情系客户，在他生病时主动到医院探望他，在他提出理赔申请时一诺千金、快速赔付。</p>
			</div>
		</div>

	</ion-content>
</ion-view>