<ion-view view-title="上传资料">
	<ion-content>
		<ion-list>
			<ion-item>
				被保人姓名
				<span class="item-note">{{lp.truename}}</span>
			</ion-item>
			<ion-item>
				被保人身份证
				<span class="item-note">{{lp.idNo}}</span>
			</ion-item>
			<ion-item>
				被保人电话
				<span class="item-note">{{lp.mobile}}</span>
			</ion-item>
			<ion-item>
				是否住院
				<span class="item-note">{{lp.inHospital ? '是' : '否'}}</span>
			</ion-item>
			<ion-item>
				出险日期
				<span class="item-note">{{lp.accidentDate | date: 'yyyy年MM月dd日'}}</span>
			</ion-item>
			<ion-item>
				出险地点
				<p><span class="item-note">{{lp.accidentSite}}</span></p>
			</ion-item>

			<ion-list>
			<ion-item class="item-divider">需要上传的理赔资料</ion-item>
			<ion-item class="item-body item-icon-left" ng-repeat="uploadimg in uploadImages">
				<i class="ion-ios-upload-outline"></i>
				{{uploadimg.title}}		
				<div class="row">

					<div class="col col-20" ng-if="imagePages[uploadimg.id]" ng-repeat="imgpage in imagePages[uploadimg.id]">
						<img ng-src="{{imgpage.ImageUrl}}" class="full-image height-60" ng-click="actions.toClickImage(uploadimg.id)" />
					</div>
				</div>	
			</ion-item>			
			<button class="button button-full button-stable" ng-click="actions.toUploadImages()">
        拍摄资料
      </button>

      

      <button ng-disabled="!isSubmitEnabled" class="button button-full button-stable" ng-click="actions.toSubmit()" >提交</button>


      <ion-item ng-if="error.claimPicsError"><!-- ng-if会创建子$scope, 因此需要采用数组方式传递变量(内存地址引用), 否则子$scope中对takePicsError的改变不会影响父$scope的takePicsError, 元素不会消失 -->
          {{error.claimPicsError}} <i class="icon ion-ios-close" ng-click="error.claimPicsError = ''"></i>
      </ion-item>
		</ion-list>

		

		

	</ion-content>
</ion-view>