<ion-view view-title="理赔进度查询">
	<ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
			<a class="button button-icon icon ion-ios-arrow-back" href="#/user/home"></a>
		</ion-nav-buttons>
  </ion-nav-bar>



	<ion-content>
		<ion-refresher pulling-text="释放刷新..." refreshing-text="正在刷新..." on-refresh="actions.doRefresh()"></ion-refresher>
		
		<ion-list ng-repeat="basicInfo in basicInfos">
			<ion-item class="item-divider"></ion-item>
			<ion-item class="item-icon-right" ui-sref="user.myclaimitem({claimNo: basicInfo.claimNo})">
				报案号:{{basicInfo.rgtNo}}
				<span class="item-note">{{basicInfo.Status}}</span>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item>
				事故人
				<span class="item-note">{{basicInfo.accidentInfo.name}}</span>				
			</ion-item>	
			<ion-item>
				{{basicInfo.accidentInfo.idType | idTypeText}}
				<span class="item-note">{{basicInfo.accidentInfo.idNo}}</span>				
			</ion-item>
			<ion-item>
				理赔状态
				<span class="item-note">{{basicInfo.status.state | claimStateText}}</span>				
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
