<ion-view view-title="备齐资料">
	<ion-content>

		<div class="card">
			<div class="item item-text-wrap">
				<p>申请理赔时您需要根据出险的责任类型提交必要的理赔材料（包括基本资料及出险证明资料），具体如下：</p>
				<p>一、基本资料：所有理赔申请类型均需要</p>
				<p>1.理赔申请书</p>
				<p>（下载链接https://www.sinokorealife.com.cn/）</p>
				<p>2.受益人有效身份证明（正反面）</p>
				<p>3.受益人银行卡或存折（卡号清晰）</p>
				<p>出险证明资料：依据您的申请选择查看</p>
				<p>1.诊断证明或出院小结（含出入院日期且加盖医院公章）</p>
				<p>2.住院费用原始发票和费用明细清单（仅申请津贴型住院医疗可不需此项）</p>
				<p>二、理赔资料上传：</p>
				<p>理赔资料需以照片形式在理赔申请时进行上传。上传的照片请务必完整、清晰，以免影响您的理赔申请顺利审核。</p>
			</div>
		</div>

	</ion-content>
</ion-view>