<ion-view view-title="中韩人寿自助理赔中心">
  	
	    <ion-nav-buttons side="right">
		    <!-- <span class="two-buttons"> -->
		        <a class="button button-icon icon ion-ios-person-outline" href="#/user/mine"></a>
		        <!-- <button class="button button-icon icon ion-ios-plus-outline" publish-info="'参数'"></button> -->
		    <!-- </span> -->
	    </ion-nav-buttons>
	<!-- </ion-nav-bar> --><!-- ion-nav-bar, ion-nav-buttons, ion-nav-back-button, ion-nav-title 都可以覆盖父模板的相同元素, 都可以直接置于 ion-view 元素下; 后 3 者也可以嵌套包含在 ion-nav-bar 中, ion-nav-back-button 不可以嵌套在 ion-nav-buttons 中!!! -->

  	<ion-content>
  	
  		<ion-refresher pulling-text="释放刷新..." refreshing-text="正在刷新..." on-refresh="actions.doRefresh()"></ion-refresher>
  		
  		<div>
  			<ion-slide-box show-pager="true" does-continue="true" auto-play="true" class="fullheight" slide-interval="2000">
        <ion-slide class="fullheight">
          <ion-content scroll="false">
            <div class="fullheight">
              <img class="full-image" src="img/ads/image_index_29.jpg">
            </div>
          </ion-content>
        </ion-slide>
        <ion-slide class="fullheight">
          <ion-content scroll="false">
            <div class="fullheight">
              <img class="full-image" src="img/ads/image_index_30.jpg">
            </div>
          </ion-content>
        </ion-slide>
      </ion-slide-box>
  		</div>


  	<ion-list class="card">
			

			<ion-item class="item item-icon-left" ui-sref="user.espush" ui-sref-opts="{reload:true}">
				<i class="icon ion-ios-chatbubble-outline"></i>
				<h2>我的消息</h2>
				<span class="badge badge-assertive" ng-if="newMessageCount">{{newMessageCount}}</span>
	    </ion-item>

	    <ion-item class="item item-thumbnail-left item-icon-right" ui-sref="user.claimnotice">
				<img src="img/navicon/app06.png" class="">
				<h2 class="padding-top">理赔须知</h2>
				<p>申请自助理赔注意事项与资料等</p>
		        <i class="icon ion-ios-arrow-right"></i>
	    </ion-item>

	    <ion-item class="item item-thumbnail-left item-icon-right" ui-sref="user.claiming" ui-sref-opts="{reload:true}">
				<img src="img/navicon/apply.png" class="">
				<h2 class="padding-top">我要理赔</h2>
				<p>拍摄上传报销凭据，发起理赔</p>
		        <i class="icon ion-ios-arrow-right"></i>
	    </ion-item>
	    <ion-item class="item item-thumbnail-left item-icon-right" ui-sref="user.claimschedule">
				<img src="img/navicon/app01.png" class="">
				<h2 class="padding-top">理赔进度查询</h2>
				<p>查询我申请的理赔进度</p>
		        <i class="icon ion-ios-arrow-right"></i>
	    </ion-item>


<!-- 
			<div class="home-menuitem pt-10" >
				<div class="row padding-0">
					<div class="col col-25" ui-sref="user.claiming">
						<img class="full-image" src="img/navicon/apply.png">
					</div>
					<div class="col col-25" ui-sref="user.bespeak">
						<img class="full-image" src="img/navicon/app01.png">
					</div>
					<div class="col col-25" ui-sref="user.claimnotice">
						<img class="full-image" src="img/navicon/app02.png">
					</div>
					<div class="col col-25" ui-sref="user.myclaim">
						<img class="full-image" src="img/navicon/app08.png">
					</div>
				</div>
				<div class="row padding-0" >
					<a class="col col-25 text-center" ui-sref="user.claiming">我要理赔</a>
					<a class="col col-25 text-center" ui-sref="user.bespeak">理赔预约</a>
					<a class="col col-25 text-center" ui-sref="user.claimnotice">理赔须知</a>
					<a class="col col-25 text-center" ui-sref="user.myclaim">我的理赔</a>
				</div>
			</div>

			<div class="home-menuitem pt-10" >
				<div class="row padding-0">
					<div class="col col-25">
						<img class="full-image" src="img/navicon/nav-ylj.png">
					</div>
					<div class="col col-25">
						<img class="full-image" src="img/navicon/nav-ylbc.png">
					</div>
					<div class="col col-25">
						<img class="full-image" src="img/navicon/app06.png">
					</div>
					<div class="col col-25">
						<img class="full-image" src="img/navicon/app03.png">
					</div>
				</div>
				<div class="row padding-0" >
					<a class="col col-25 text-center">养老金</a>
					<a class="col col-25 text-center">医疗金</a>
					<a class="col col-25 text-center">理财产品</a>
					<a class="col col-25 text-center">健康商城</a>
				</div>
			</div> -->
			
		</ion-list>
  </ion-content>
</ion-view>

<style type="text/css">   
	.home-menuitem a {
		color: #888888;
		text-decoration: none;
	}  
  .fullheight {
    height: 160px;
  }
  .pt-10 {
  	padding-top: 10px;
  }
  .padding-0 {
  	padding: 0;
  }
  .border-1 {
  	border: 1px solid #ff0000;
  }
</style>
