<ion-view view-title="帐户中心">
	<ion-content>
		<ion-refresher pulling-text="释放刷新..." refreshing-text="正在刷新..." on-refresh="actions.doRefresh()"></ion-refresher>

		<ion-list>
			<ion-item class="item-thumbnail-right item-icon-right text-middle" ng-click="actions.chgHead()">
		      <img ng-src="{{accountInfo.user.head.Url || 'img/defaultAvatar.png'}}" class="round-avatar">
		      <h2>头像</h2>
		      <i class="icon ion-ios-arrow-right"></i>
		    </ion-item>

		    <ion-item class="item-input">
                <span class="input-label">用户名:</span>
                <span>{{accountInfo.user.username}}</span>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">身份证:</span>
                <span>{{accountInfo.user.idNo}}</span>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">手机:</span>
                <span>{{accountInfo.user.mobile}}</span>
            </ion-item>
            <ion-item class="item-input item-icon-right" ng-click="actions.chgEmail()">
                <span class="input-label">邮箱:</span>
                <span>{{accountInfo.user.email}}</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

		</ion-list>

    <div class="padding">
      <button class="button button-block button-assertive" ng-click='actions.logout()'>
        退出登录
      </button>
    </div>

	</ion-content>
	
</ion-view>