<ion-view view-title="帐户中心">
	<ion-content>
		<ion-refresher pulling-text="释放刷新..." refreshing-text="正在刷新..." on-refresh="actions.doRefresh()"></ion-refresher>

		<ion-list>
			
            <ion-item class="item-input">
                <span class="input-label">用户名:</span>
                <span>{{info.username}}</span>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">姓名:</span>
                <span>{{info.personalInfo.name}}</span>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">身份证:</span>
                <span>{{info.idNo}}</span>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">手机:</span>
                <span>{{info.mobile}}</span>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">邮箱:</span>
                <span>{{info.email}}</span>
            </ion-item>

		</ion-list>

    <div class="padding">
      <button class="button button-block button-assertive" ng-click='actions.logout()'>
        退出登录
      </button>
    </div>

	</ion-content>
	
</ion-view>