<ion-modal-view>
  <ion-header-bar  class="bar-royal">
  	<div class="buttons">
      <button class="button button-clear" ng-click="actions.closeClaimPics()"><span class="primary">取消</span></button>
    </div>
    <h1 class="title">拍摄理赔资料</h1>

    <div class="buttons">

    	<button class="button button-icon ion-android-arrow-back" ng-click="actions.previous()" ng-if="currentIndex"></button>
    	<button class="button button-icon ion-android-arrow-forward" ng-click="actions.next()" ng-if="slidesCount - currentIndex - 1"></button>
    	<button class="button button-clear" ng-click="actions.rmClaimPics()" ng-if="!(slidesCount - currentIndex - 1)"><span class="primary">完成</span></button>
    </div>
  </ion-header-bar>
  <ion-content class="fullheight has-footer">

		<ion-slide-box delegate-handle="claimPics" show-pager="false" does-continue="false" class="fullheight" on-slide-changed="actions.getIndex()">
			<ion-slide ng-repeat="uploadimg in imgUploadings">
				<ion-content scroll="true">
					<ion-list>
						<ion-item class="row">
							<div class="col">
								<button class="button button-clear" type="button">{{uploadImages[uploadimg].title}}</button>
							</div>
							<div class="col col-20">
								<button class="button button-positive" ng-click="actions.toUpload(uploadImages[uploadimg].id)" type="button">拍摄</button>
							</div>
						</ion-item>


						<div class="item" ng-if="imagePages[uploadimg]" ng-repeat="imgpage in imagePages[uploadimg]">
							<img ng-src="{{imgpage.ImageUrl}}" class="full-image" />
							<p>
								<a class="subdued" ng-click="actions.toDelete(uploadimg, $index);"><i class="ion-ios-trash-outline"></i> 删除</a>
						</div>	

					</ion-list>
				</ion-content>

			</ion-slide>
		</ion-slide-box>

  </ion-content>
</ion-modal-view>
<style type="text/css">
  /*html, body, .pane, div {
    height: 100%;
    overflow: hidden;
  }*/
  /*.fullbox {
    width: 100%;
    height: 100%;
  }*/
  /*要把所有的div都设置成100%高度, 本质是要把所有的父元素都设置成100%高度, 不然光设置某一个div, 会受父元素的影响, 不能占满屏幕高度*/
  .fullheight div.scroll {
    height: 100%;
  }
  /*这里不能对所有的div都设置高度，会影响到后面所有的页面，需单独设置一个元素fullheight*/
  /*ion-slide-box必须设置高度，否则会影响到其内部的元素，造成ion-header-bar和ion-content都不显示*/
  /*div:not(.nofullheight) {*/
  .fullheight {
    height: 100%;
    /*height: auto;*/
    /*height: 720px;*/  /*设置100%在窗口变小时高度会变为0*/
  }
  /*.blue {
    background-color: #BFFDF5;
  }
  .yellow {
    background-color: #FAFEBD;
  }
  .red {
    background-color: #FFCCF7;
  }*/
  /*.downside {
    width: 100%;
    position: fixed;
    bottom: 20%;
  }
  .clickin {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
  }*/

  .float-right button.button {
    float: right;
    /*margin-left: 6px;*/
  }
  /*.margin-bottom {
    margin-bottom: 36px;
  }*/
</style>