<ion-view>
	<ion-nav-bar class="bar-royal">
		<ion-nav-title>
			中韩人寿自助理赔中心
		</ion-nav-title>
	</ion-nav-bar>

	<ion-content>
		<div class="row"><!-- text-center是ionic自带css属性 -->
      <div class="col-100 text-center automargin">
        <img src="img/bangyouLogo.jpg" class="full-image padding-top">
        <p>中韩</p>
      </div>

    </div>

    <ion-list>
    	
    	<ion-item class="item-input no-padding-tb">
          <!-- <div class="item-input"> --><!-- 去掉这里的div, 把item-input放到ion-item中, 显示略微有所不同 -->
          <span class="input-label">用户名:</span>
          <!-- <input type="text" autofocus="" placeholder="请输入用户名" w5c-unique-check="{url:'/check?username={{login.username}}'}" ng-model="login.username" required="" name="username" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{1,19}$/"> -->
          <input type="text" placeholder="请输入用户名" ng-model="login.username" required="" name="username" ng-pattern="/^[0-9A-Za-z_]{1,19}$/" class="min-height"><!-- 在input里面加 autofocus="" 属性有可能会导致页面向上弹出顶部 -->
          <button-clear-input input="login.username"></button-clear-input>
        <!-- </div> -->
      </ion-item>

      <ion-item class="item-input no-padding-tb">
        <!-- <div class="item-input"> -->
          <span class="input-label">密<span class="take-position">占</span>码:</span>
          <input type="password" placeholder="请输入密码" ng-model="login.password" required="" name="password" ng-minlength="1" ng-maxlength="16" class="min-height">
          <button-clear-input input="login.password"></button-clear-input>
        <!-- </div> -->
      </ion-item>

      <ion-toggle ng-model="login.rememberme" toggle-class="toggle-calm" class="text-right">记住密码</ion-toggle>
      <ion-item class="row no-padding-tb">
        <div class="col"><button class="button button-block button-positive" ng-click="actions.login()">登录</button></div>
        
        <!-- <div class="col"><button class="button button-block button-energized" ng-click="actions.preRegister()" type="button">注册</button></div> -->
      </ion-item>
      <ion-item ng-if="error.loginError" class="no-padding-tb"><!-- ng-if会创建子$scope, 因此需要采用数组方式传递变量(内存地址引用), 否则子$scope中对loginError的改变不会影响父$scope的loginError, 元素不会消失 -->
        {{error.loginError}} <i class="icon ion-ios-close" ng-click="error.loginError = ''"></i>
      </ion-item>

    </ion-list>

	</ion-content>
</ion-view>